<div class="app">

  <app-menu class="app-menu" fxHide.lt-md></app-menu>
  <div class="app-menu-burger" fxHide fxShow.lt-md [ngClass]="{ active: iconMenu === 'close' }" (click)="toggle()">
    <mat-icon class="line"> {{ iconMenu }}</mat-icon>
  </div>
  <app-menu *ngIf="isMobile && visible" [visible]="visible" fxHide.gt-sm></app-menu>


  <div [@myAnimation]="o.isActivated ? o.activatedRoute : ''" class="app-container" ngClass.lt-md="mobile">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>
