.left-side {

  &-container {
  background: url('/assets/photo/home.jpg') no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  }

  &-text {
    padding: 5%;
  }
}
