.left-side {

  &-container {
    background: url(/assets/photo/home.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 50%;
  }

  &-text {
    padding: 5%;
  }
}

.typing {
  color: white;
  font-size: 45px;
}
